/*.icon-ion-map:active, .icon-ion-android-pin:active, .icon-left-small:active, */
.scale-function{
    font-size: 18px;
    padding: 7px 3px 6px 2px;
}

/*.main-item:active, .list-item:active, .icon-ion-android-pin:active, */
.highlight-function{
    background-color: rgba(4, 20, 28, 0.2);
    border-color: rgba(4, 20, 28, 0.2);
}
.page.transition {

}
.page {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);

    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000), max-height 300ms;
    transition: transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000), max-height 300ms; /* easeOutExpo */
}

.page.center {
    max-height: 10000px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    
    -webkit-transition: max-height 0ms, -webkit-transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition:  max-height 0ms, transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000), max-height 300ms;
    transition: transform 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000), max-height 300ms; /* easeOutExpo */
}
