@font-face {
    font-family: open-sans-regular;
    src: url('../font/OpenSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: open-sans-bold;
    src: url('../font/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: open-sans-regular;
    src: url('../font/open-sans-regular.otf');
    font-weight: 700;
}

@font-face {
    font-family: open-sans-semibold;
    src: url('../font/OpenSans-Semibold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: roboto-light;
    src: url('../font/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: roboto-medium;
    src: url('../font/Roboto-Medium.ttf');
    font-weight: 700;
}

@font-face {
    font-family: roboto-bold;
    src: url('../font/Roboto-Bold.ttf');
    font-weight: 600;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #fafafa;
    font-family: open-sans-regular, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #5b5b5b;
    margin: 0;
    padding: 0;
    width: 100%;
}

body > * {
    -webkit-transform: translateZ(0px);
}

a {
    color: #cc0011;
    text-decoration: none;
}

hr {
    width: 100%;
    border: 0 none;
    height: 1px;
    background-color: #dddddd;
}

.header {
    position:fixed;
    top: 0;
    width: 100%;
    height: 48px;
    background-color: #cc0011;
    border-bottom: solid 1px #970c17;
    z-index: 100;
}

#main-screen {
    height: 100%;
    line-height: 200%;
    margin-top: 48px;
    overflow-y: visible;
}

#main-item-container {
    position: relative;
    z-index: 0;

}

#hero {
    width: 100%;
    background: url("../img/hero.jpg") center center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-family: open-sans-semibold;
    font-size: 18px;
}

.main-item {
    display: table;
    width: 100%;
}

.main-item:nth-child(n+2) {
    border-top: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}


.main-item-text {
    padding: 30px 0px 30px 5px;
    display: table-cell;
    width: 70%;
    font-family: open-sans-semibold;
    font-size: 16px;
}

.icon-right-open {
    display: table-cell;
    width: 15%;
    padding-top: 7px;
    font-size: 10px;
    vertical-align: middle;
    text-align: center;
    color: #606060;
}

.main-icon {
    display: table-cell;
    width: 15%;
    color: #606060;
    padding: 6px 4px 0 10px;
    font-size: 10px;
    vertical-align: middle;
}

.main-item:first-child{
    color: #cc0011;
}
.main-item:first-child > .icon-right-open {
    color: #cc0011;
}

.list-screen {
    line-height: 200%;
    height: 100%;
    background-color: #fafafa;
    overflow: hidden;
    margin-top: 48px;
}

.phone-number-heading {
    font-family: open-sans-semibold, open-sans-bold, sans-serif;
    font-size: 16px;
    color: #c50015;
    padding: 6px 4px;
    text-align: center;
    border-bottom: 1px solid #c50015;
    background-color: #fafafa;
    position: relative;
    z-index: 5;
}

.phone-number-item {
    border-bottom: 1px solid #dddddd;
    width: 100%;
    height: auto;
    vertical-align: top;
    display: table;
    background-color: #fafafa;
    position: relative;
    z-index: 5;
}

.phone-border {
    border-top: 1px solid #c50015;
}

.list-item {
    border-bottom: 1px solid #dddddd;
    width: 100%;
    height: auto;
    vertical-align: top;
    display: table;
    background-color: #fafafa;
}
/*
.list-item:first-child {
    border-top: 1px solid #dddddd;
}*/

.list-item:nth-child(even) {
    background-color: #f0f0f0;
}

.list-item-text {
    width: 100%;
    height: auto;
    padding: 25px 15px 25px 15px;
    display:table-cell;
    font-family: open-sans-semibold, sans-serif;
    font-size: 16px;
}

.icon-phone {
    width: 52px;
    display: table-cell;
    height: 100%;
    text-align: right;
    vertical-align: middle;
    padding: 7px 11px 0 12px;
    color: #09b541;
    font-size: 100%;
}

.icon-ion-android-pin {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: #2d384a;
    font-size: 100%;
    padding: 7px 11px 0 12px;
    position: relative;
    z-index: 1;
}

.icon-wrapper {
    width: 58px;
    height:100%;
    display: table-cell;
    position: relative;
    z-index: 0;
    border-left: 1px solid #dddddd;
}

.list-item-content {
    float: left;
}

.number-text {
    font-size: 14px;
    font-family: open-sans-regular;
    color: #9C9C9C;
}

#info-screen {
    margin-top: 48px;
    height: 100%;
    overflow-y: visible;
}

#info-image {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
}

@media screen
and (orientation:portrait) {
    #hero {
        height: 20%;
        padding-top: 20%;
    }

    #info-image {
        height: 30%;
    }
}

@media screen
and (orientation:landscape) {
    #hero {
        height: 35%;
        padding-top: 12%;
    }

    #info-image {
        height: 50%;
    }
}

#info-gradient {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('../img/gradient.png');
    background-size: auto 100%;
    background-repeat: repeat-x;
}

#info-button {
    position: absolute;
    bottom: -24px;
    right: 30px;
    height: 48px;
    width: 48px;
    padding: 13px 0 0 8px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    background-color: #cc0011;
}

.info-page-text {
    font-family: open-sans-regular, open-sans-semibold, sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 25px 80px 0 15px;
}

.info-page-text li:first-child {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info-page-text ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.info-page-text li:first-child {
    font-size: 16px;
    padding-bottom: 7px;
}

.info-page-text:last-child{
    padding: 0 15px;
}

#info-title{
    color: #ffffff;
    font-family: open-sans-semibold, open-sans-semibold, sans-serif;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 80px 15px 15px;
}

#map-canvas {
    margin-top: 48px;
    width: 100%;
}

#search-close {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -100;
}

.right-header-icon {
    font-size: 14px;
    float: right;
    padding: 11px 8px 10px 9px;
    color: #ffffff;
}

.uc-logo {
    width: 70px ;
    height: 21px;
    position: relative;
    margin: 14px 12px 0 12px;
    z-index: 11;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#uc-logo.slide-icon-out {
    pointer-events: none;
    opacity: 0;
    /*left: -95px;*/
}

#back-icon {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#back-icon.slide-icon-out {
    pointer-events: none;
    opacity: 0;
    /*left: -95px;*/
}

.icon-ion-map {
    text-align: center;
    position: absolute;
    right: 0;
    top: -1px;
    z-index: 200;
}

.header-icon-border {
    border-left: 1px solid #970c17;
    width: 56px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
}

.icon-left-small {
    position: fixed;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 14px 8px 10px 9px;
    display:none;
    z-index: 2;
}

/*Search styling and animations */
.search-wrapper {
    font-family: 'uc-mobile';
    position: fixed;
    width: 100%;
    height: 40px;
    float: right;
    top: 0;
    right: 0;
    padding: 4px 55px 0 4px;
    -webkit-backface-visibility: hidden;
}

.sb-search {
    -webkit-transform: translate3d(0px,0px,0px);
    position: relative;
    z-index: 13;
    width: 0;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
    float: right;
    overflow: visible;
    -webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 40px;
    z-index: 10;
    padding: 10px 55px 10px 12px;
    font-family: inherit;
    font-size: 12pt;
    line-height: 1em;
    color: #2d384a;
}

.sb-search-input::-webkit-input-placeholder {
    color: #C4C4C4;
}

.sb-search-input:-moz-placeholder {
    color: #C4C4C4;
}

.sb-search-input:-ms-input-placeholder {
    color: #C4C4C4;
}

.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: -1px;
    padding: 8px 0 0 0;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    -webkit-transform: translate3d(0px,0px,0px);
    -webkit-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all 300ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    color: #ffffff;
    background: transparent;
    z-index: 90;
    font-size: 22px;
    font-family: 'uc-mobile';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
    height: 40px;
    background-color: white;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    color: #2d384a;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

.clear {
    clear: both;
}

.map-center {
    position: absolute;
    background-color: #fafafa;
    bottom: 30px;
    right: 15px;
    width: 48px;
    height: 48px;
    z-index: 100;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

.icon-ion-android-locate {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-top:1.1em;
    height: 100%;
    vertical-align: middle;
    color: #2d384a;
    font-size: 100%;
}

#results-screen {
    margin-top: 48px;
}

.icon-attention-alt {
    color: #cc0011;
}

.Emergency {
    background: #cc0011;
}

#info-button .icon-ion-android-pin{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding-top: 1.1em;
    color: #ffffff;
}

.uc-logo-behind {
    width: 84px;
    height: 30px;
    background: url('../img/uc-logo-black.png');
    background-size: 84px 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.subtitle-text {
    font-size: 14px;
    font-family: open-sans-regular;
    color: #9C9C9C;

}

.map-info {
    color: #5b5b5b;
    font-family: open-sans-semibold, sans-serif;
    font-size: 14px;
    width: 150px;
}

.map-button {
    margin-top: 14px;
    float: left;
    width: 48px;
    height: 48px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 25px;
    border: 3px solid;
    margin-left: 13px;
    margin-right: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#directions-choice-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

#directions-choice-box {
    background-color: #fafafa;
    color: #5b5b5b;
    font-family: open-sans-semibold, sans-serif;
    width: 180px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 101;
    border-radius: 10px;
}

.directions-choice {
    width: 100%;
    border-top: 1px solid;
    height: 60px;
    line-height: 60px;
}

.directions-choice:first-child {
    border-top: 0;
}

.directions-choice-icon {
    padding-top: 4px;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    width: 40%;
    float: left;
    font-size: 14px;
}

.directions-choice-text {
    height: 60px;
    line-height: 60px;
    width: 60%;
    float: left;
    font-size: 16px;
}

.directions-warning {
    color: #cc0011;
    font-family: open-sans-semibold, sans-serif;
    padding: 16px;
}

#search-overlay {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    z-index: 100;
    position: fixed;
    top: 48px;
    left: 0;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

#search-overlay.overlay-open {
    pointer-events: auto;
    opacity: 0.6;
}
