/*Adding padding for the header for status bar overlay*/
html, body {
    max-width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto; /* iOS position:fixed; elements fix (not 100%) */
    min-height:100%;
}

.header {
    position:fixed;
    top: 0;
    width: 100%;
    height: 64px;
    padding-top: 20px;
    background-color: #cc0011;
    border-bottom: solid 1px #970c17;
    z-index: 100;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

#main-screen, .list-screen, #info-screen, #results-screen {
    padding-top: 64px;
    margin-top:0;
}

#map-canvas {
    margin-top: 48px;
}

.right-header-icon, .uc-logo, .icon-left-small, .search-wrapper {
    margin-top: 20px;
}

.header-icon-border {
    margin-top: 28px;
    margin-bottom: 10px;
    height: 30px;
}

.right-header-icon {
    padding: 9px 8px 10px 9px;
}

.uc-logo {
    margin: 12px 12px 0 12px;
}

.icon-left-small {
    padding: 11px 8px 10px 8px;
}

.scale-function {
    font-size: 17px;
    padding: 5px 4px 4px 2px;
}

/*Transition for iOS*/
.page.center {
    /*max-height: none;*/
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch;
}

.page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    /*max-height: none;*/
}

.icon-ion-android-pin{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    color: #56517d;
    font-size: 100%;
    padding: 7px 11px 0 10px;
    position: relative;
    z-index: 1;
}

/*End transition iOS*/
.search-wrapper {
    padding: 3px 55px 0 4px;
}

.sb-search {
    /*margin-top: 4px;*/
    height: 38px;
}
.sb-icon-search,
.sb-search-submit  {
    padding: 2px 0 0 0;
}

.sb-search.sb-search-open,
.no-js .sb-search {
    height: 38px;

}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    /*margin-top: -1px;*/
}

.map-center{
    /*padding: 13px 9px 8px 8px;*/
}

#info-button {
    color: #ffffff;
}

@media screen
and (orientation:portrait) {
    #hero {
        height: 20%;
        padding-top: calc(20% - 16px);
    }

    #info-image {
        height: 40%;
    }
}

@media screen
and (orientation:landscape) {
    #hero {
        height: 35%;
        padding-top: calc(12% - 16px);
    }

    #info-image {
        height: 50%;
    }
}
